tensorflow==2.9.1
tensorflow-probability==0.17.0
numpy==1.22.1
scikit-learn==1.0.2
pandas==1.5.3
androguard==3.3.5
absl-py==1.4.0
# python-magic-bin==0.4.14
seaborn
Pillow
pyelftools
capstone
python-magic
pyyaml
multiprocessing-logging
